.rejoin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rejoinContent {
  width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spaces-m);
}
