.message {
  position: relative;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: var(--spaces-xs);
  padding: 12px var(--spaces-s);
  white-space: pre-wrap;

  .main {
    display: flex;
    flex-direction: column;
    gap: var(--spaces-xxs);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        display: flex;
        align-items: center;
        gap: var(--spaces-xxs);
      }

      .right {
        display: flex;
        align-items: center;
        gap: var(--spaces-xxs);
      }
    }
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px var(--spaces-s);
    border: none;
    border-radius: var(--borderRadius);
    background-color: var(--colors-primary-400);
    padding: var(--spaces-xs);
    min-width: 100px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;

    &:focus,
    &.visible {
      opacity: 1;
      pointer-events: initial;
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  &.delete {
    background-color: var(--colors-grey-600);
  }
}
