.layout {
  display: grid;
  grid-template-rows: 48px minmax(0, 1fr) auto;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--colors-grey-700);

  .heading {
    margin: 0 auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spaces-s);
}
