.container {
  display: grid;
  grid-template-rows: 110px 1fr;
}

.chat {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  height: 100%;
  background-color: var(--colors-grey-700);
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.input {
  padding: var(--spaces-s);
}

.messages {
  position: relative;

  .scroll {
    overflow-y: scroll;
    height: 100%;
  }
}

.unreadButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}
