@import '@styles/breakpoints.scss';

.contentContainer {
  display: grid;
  grid-template-rows: 110px 1fr;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoRwd {
  @include videoRwd;
}

.divider {
  border-top: 1px solid var(--colors-grey-700);
}
