.shareLinksContainer {
  background-color: var(--colors-grey-800);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 440px;
}

.shareLinksTop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: var(--spaces-m);
}

.firstToJoin {
  padding-bottom: 8px;
}

.flex {
  display: flex;
}
