@import '../../styles/zIndex';

.drawer {
  position: absolute;
  right: -400px;
  width: 364px;
  top: 0;
  transition: 0.15s linear;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.25);
  z-index: $zI_drawer;

  &.active {
    right: 0;
  }

  &.mobile {
    right: auto;
    left: 100%;

    &.active {
      left: 0;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
