.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 28px 24px;
  gap: 12px;
  border-radius: var(--borderRadius);
  border: 2px solid var(--colors-grey-400);
}

.video {
  height: 143px;
}

.dock {
  display: flex;
  justify-content: center;
}
