.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .buttonWrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    padding: var(--spaces-xs);
    border-radius: 100%;
    background-color: var(--colors-grey-800);
  }
}
