.sideBar {
  background-color: rgba(41, 41, 48, 0.98);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}

.lowerSectionStart {
  margin-top: auto;
}

.exit {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-top: 1px solid var(--colors-grey-700);
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: var(--spaces-s);
}
